<h2> Bookmark Manager </h2
><br>
<form action='/save-bookmark' method='post'>
  <input type='text' name='add_bookmark' placeholder='url'>
  <input type='text' name='title' placeholder='title'>
  <input type='submit' value='Add'>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
        <form action="/bookmarks/<%= bookmark.id %>" method='post'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' name='<%=bookmark.title%>_delete' value='Delete'>
        </form>
      </a>
    </li>
  <% end %>
</ul>
